<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Hashed password</th>
      <th>Name</th>
      <th>Blog</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.hashed_password %></td>
        <td><%= user.name %></td>
        <td><%= user.blog_id %></td>
        <td><%= image_tag(user.image_url,:width => 100, :height => 100)%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
